.container {
    @include media-min('2xl') {
        max-width: map-get($breakpoints, '2xl');
    }
    @include media-between('xl', '2xl') {
        max-width: map-get($breakpoints, 'xl');
    }
    @include media-between('lg', 'xl') {
        max-width: map-get($breakpoints, 'lg');
    }
    @include media-between('md', 'lg') {
        max-width: map-get($breakpoints, 'md');
    }
    // @include media-between('sm', 'md') {
    //     max-width: map-get($breakpoints, 'sm');
    // }
    margin: 0 auto;
}