







body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.page-heading {
    @include container;
    display: flex; justify-content: center;
    font-weight: 800;
    font-size: 3rem;
}